{% extends 'base.html' %}

{% block content %}
	
<!-- 	<p>{{ username }}</p>
	<p>{{ email }}</p>
	
	{% for note in notes %}
		{{note}} <br>
	{% endfor %}

	{% for post in posts %}
		{{post.body}} <br>
		<img src="{{post.image}}" width="100" /> <br>
	{% endfor %} -->

    <div class="autoplay">
      {% for image in images %}      
        <img src="{{image}}" alt="Image">
      {% endfor %}
    </div>

<script type="text/javascript">
  $(document).ready(function() { 
      $('.autoplay').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
  })
</script>

{% endblock %}